<div class="bookmarks-restaurant-card">
  <div class="restaurant_card_carousel">
    <%= render 'shared/restaurant_carousel', restaurant: restaurant %>
  </div>
  <div class="restaurant_card_info">

    <div class="restaurant_info_strip">
      <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    </div>

    <div class="restaurant_info_strip">
      <p>
        <%= restaurant.category %>
      </p>
    </div>

    <div class="restaurant_info_strip">
      <p>
        <%= image_tag("city.svg")%> <%= restaurant.city%> <br>
        <%= image_tag("address.svg") %> <%= restaurant.address%> <br>
        <%= image_tag("phone.svg") %> <%= restaurant.phone_number %>
      </p>
    </div>

    <div class="buttons-info-bookmark">
      <a href="#" class="greenbtn-bookmark" data-toggle="modal" data-target="#bookmarkModalReviews<%= restaurant.id %>">Reviews</a>
        <%= render partial: 'modal_restaurant_reviews', locals: {restaurant: restaurant, followings_visits: @followings_visits} %>
      <%= link_to 'See Details', restaurant_path(restaurant), class: "hollowbtn-bookmark" %>
    </div>

  </div>
</div>



