
  <div class="modal fade" id="visitsModalReviews<%= restaurant.id %>" tabindex="-1" role="dialog" aria-labelledby="visitsModalReviewsTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="title_and_rating">
          <div class="modal-header-and-stars"> <h5 class="modal-title " id="visits ModalReviewsTitle"><%= restaurant.name %></h5>
            <div class="star-container">
              <% count_gold = restaurant.total_rating %>
              <% count_grey = (5 - count_gold) %>
              <% count_gold.times do %> <i class="fas fa-star gold-star"></i> <% end %>
              <% count_grey.times do %> <i class="fas fa-star grey-star"></i> <% end %>
            </div>
          </div>
        </div>
        <div class="modal-header d-flex flex-column">
          <p><%= restaurant.address %>, <%= restaurant.city %></p>
          <div class="modal-review-details">
          </div>
        </div>
        <% followings_visits.select { |v| v.restaurant_id == restaurant.id }.each do |v| %>

          <div class="modal-body" style="font-size: 16px">
            <% if !v.reviews.first.nil? %>
              <p> <u> <%= v.user.first_name %> <%= v.user.last_name %></u>. Visited on: <%= v.date.strftime("%d/%m/%y") %> |
              Review from: <%= v.reviews.first.created_at.strftime("%d/%m/%y") %></p>
              <%= v.reviews.first.content %>
            <% end %>
        </div>
        <% end %>
        <div class="modal-footer">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
