<div class="restaurant_card">
  <div class="restaurant_card_carousel">
    <%= render 'shared/restaurant_carousel', restaurant: restaurant %>
  </div>
  <div class="restaurant_card_info">

    <div class="restaurant_info_strip">
      <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    </div>

    <div class="restaurant_info_strip">
      <p>
        <%= restaurant.category %>
      </p>
    </div>

    <div class="restaurant_info_strip">
      <p>
        <%= image_tag("city.svg") %> <%= restaurant.city %> <br>
        <%= image_tag("address.svg") %> <%= restaurant.address %> <br>
        <%= image_tag("foodies.svg") %> <%= visit.number_of_people %> <br>
        <%= image_tag("calendar.svg") %> <%= visit.date %> <br>


      </p>
    </div>

    <div class="buttons-info">
      <%= link_to visits_path, class: "hollowbtn" do %>
        <i class="fas fa-edit"></i> Change
      <% end %>
      <%= link_to visits_path, class: "hollowbtn" do %>
        <i class="fas fa-trash-alt"></i> Cancel
      <% end %>
    </div>

  </div>
</div>
