<div class="restaurant_card">
  <div class="restaurant_card_carousel">
    <%= render 'shared/restaurant_carousel', restaurant: restaurant %>
  </div>
  <div class="restaurant_card_info">
    <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.city %></p>
    <p><%= restaurant.category %></p>
    <p><%= restaurant.website %></p>
    <p><%= restaurant.phone_number %></p>
  </div>
</div>
