<div class="modal fade home_modal" id="reviewHomeModal<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="reviewHomeModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column">
          <h5 class="modal-title-name " id="reviewIndexModalTitle"><%= review.visit.restaurant.name %></h5>
        <p><%= review.visit.restaurant.address %><!-- , <%= review.visit.restaurant.city %> --></p>
        <div class="modal-review-details">
          <p>Rating: <%= review.rating%> | Visited on: <%= review.visit.date %> | Review from: <%= review.created_at.strftime("%d/%m/%y") %></p>
        </div>
      </div>
      <div class="modal-body" style="font-size: 16px">
        <%= review.content %>
      </div>
      <div class="modal-footer homepage-spacer-flex">
       <p>Review by: <%= review.visit.user.first_name %> <%= review.visit.user.last_name %> </p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
