<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1553194588-6ba2cd5b410f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
  <br>
    <div class="d-flex justify-content-center">
      <div class = "col-8"> <%= form_tag restaurants_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search by city" %>
      </div>
      <div>
        <%= submit_tag "Search", class: "bannerbtn" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<br>
<br>

  <div class="card-container">
<% @reviews_array.each do |review_hash| %>
    <div class="card-home">
      <%=image_tag("Headshot_1.jpg")%>
      <div class="card-home-infos">
        <div class="name_date_flex">
        <h2><%= review_hash[:user_first_name] %> <%= review_hash[:user_last_name] %></h2>
        <h3> <%= review_hash[:review_date] %></h3>
        </div>
        <h3><%= review_hash[:restaurant_name] %></h3>
        <p><%= review_hash[:review_content_truncated] %></p>
      </div>
    </div>
<% end %>
  </div>

