<div class="banner" style="background-image: linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.5)), url(https://images.unsplash.com/photo-1553194588-6ba2cd5b410f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h3 id="banner-heading">Search a city for recommended restaurants</h3>
    <div class="d-flex justify-content-center home-search">
      <%= form_tag restaurants_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "banner-form-control",
        placeholder: "City name" %>
        <%= submit_tag "Search", class: "bannerbtn" %>
      <% end %>
    </div>
  </div>
</div>

<br>
<h2 id="home-title">Latest reviews</h2>
<h5 id="home-subtitle"><em>See the latest reviews added by your fellow foodies</em></h5>
<br>

  <div class="card-container">
    <% @reviews.each do |review| %>
      <% if !review.nil? %>
      <div class="card-home hvr-grow">
        <% if review.visit.restaurant.photos.attached?  %>
          <% review.visit.restaurant.photos.each do |photo| %>

          <%= cl_image_tag photo.key %>
          <% end %>
          <% else %>
          <%= image_tag ("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80") %>
        <% end %>
        <div class="card-home-infos">
          <div class="d-flex">
            <h2><%= link_to review.visit.restaurant.name, restaurant_path(review.visit.restaurant) %></h2>
          <!-- <p class="star-rating">⭐️⭐️⭐️⭐️</p> -->
        </div>
          <%= review.visit.restaurant.city%>
          <p class = "home-review-content"><em>" <%= review.content.truncate(100) %> " -</em> <a href="#" class="see_more_btn" data-toggle="modal" data-target="#reviewHomeModal<%= review.id %>"> Read more</a>
            <%= render partial: 'home_modal', locals: {review: review} %></p>
          <div class="user-flexbox">
            <div class="avatar"><%=image_tag(review.visit.user.default_image)%></div>
            <h3><%= review.visit.user.first_name %> <%= review.visit.user.last_name %></h3>
            <div class="date-grid">
            <p class="home-date reviewdate"> Review date: <%= review.created_at.strftime("%d/%m/%y")%></p>
            <p class="home-date visitdate"> Visited date: <%= review.visit.date.strftime("%d/%m/%y") %></p>
            <!-- <div class="new-review">New!</div> -->
          </div>
         </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
