<div class="banner" style="background-image: linear-gradient(rgba(20,20,20,0.7),rgba(20,20,20,0.7)), url(https://images.unsplash.com/photo-1553194588-6ba2cd5b410f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h3 id="banner-heading">Search by city for Fellow Foodies' recommendations</h3>
    <div class="d-flex justify-content-center home-search">
      <%= form_tag restaurants_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "banner-form-control",
        placeholder: "City name" %>
        <%= submit_tag "Search", class: "bannerbtn" %>
      <% end %>
    </div>
  </div>
</div>

<br>
<h2 id="home-title">Latest Reviews</h2>
<h5 id="home-subtitle"><em>Welcome, <%= current_user.first_name.capitalize %>! See the latest reviews added by your Fellow Foodies!</em></h5>
<br>

<div class="card-container">
  <% @reviews.each do |review| %>
    <% if !review.nil? %>
      <div class="card-home">
        <% if review.visit.restaurant.photos.attached?  %>
          <% review.visit.restaurant.photos.each do |photo| %>
          <%= cl_image_tag photo.key %>
          <% end %>
        <% else %>
            <%= image_tag ("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80") %>
        <% end %>
        <div class="card-home-infos">
          <div class="d-flex">
            <div class="modal-header-and-stars">
              <h2><%= link_to review.visit.restaurant.name, restaurant_path(review.visit.restaurant) %></h2>
            </div>
          </div>
          <%= review.visit.restaurant.city%>
          <p class = "home-review-content"><em>" <%= review.content.truncate(100) %> " -</em> <a href="#" class="see_more_btn" data-toggle="modal" data-target="#reviewHomeModal<%= review.id %>"> Read more</a>
            <%= render partial: 'home_modal', locals: {review: review} %></p>
            <div class="star-container" style="text-align: center; margin-top:15px;">
              <% count_gold = review.rating %>
              <% count_grey = (5 - count_gold) %>
              <% count_gold.times do %> <i class="fas fa-star gold-star"></i> <% end %>
              <% count_grey.times do %> <i class="fas fa-star grey-star"></i> <% end %>
            </div>
          <div class="user-flexbox">
            <div class="avatar">
              <% if review.visit.user.photo.attached? %>
                <%= cl_image_tag review.visit.user.photo.key, alt: "Image of user" %>
              <% else %>
                <%=image_tag(review.visit.user.default_image)%>
              <% end %>
            </div>
              <h3><%= review.visit.user.first_name %> <%= review.visit.user.last_name %></h3>
            <div class="date-grid">
              <p class="home-date reviewdate"> Review: <%= review.created_at.strftime("%d/%m/%y")%></p>
              <p class="home-date visitdate"> Visited: <%= review.visit.date.strftime("%d/%m/%y") %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
