<div class="sign-in-image" style="">

  <div class="banner-flex">
    <%= image_tag "mt_logo.png", alt: "alttext", class: "home-page-logo" %>
    <div id = "catchphrase-one">
      <h3> Trust where you eat.</h3>
    </div>
    <div id = "catchphrase-two">
      <h3>The essential little black book for globetrotting foodies.</h3>
    </div>
    <div class="user-flex" id="button-box">
      <div class="sign-up-button"><%= render "devise/shared/links"%></div>
      <div class="">
        <a href="#" class="login-link" data-toggle="modal" data-target="#modalLoginForm">Log in</a>
      </div>
    </div>
    <%= render partial: 'devise/shared/login_modal' %>
  </div>
</div>

<div class="how-it-works">
  <h3>How it works</h3>
  <div class="description-grid">
    <div class="icon-description"><%= image_tag "followers.jpg" %><p>Follow your friends and food experts to see restaurants they recommend.</p></div>
    <div class="icon-description"><%= image_tag "review.jpg" %><p>Read their trusted reviews about restaurants they visited.</p></div>
    <div class="icon-description"><%= image_tag "search.jpg" %><p>Find restaurants around the globe based on trusted reviews. You also have the option to book.</p></div>
    <div class="icon-description"><%= image_tag "bookmark.jpg" %><p>Save a restaurant to your bookmarks page that you want to visit later on.</p></div>
  </div>
</div>





