<div class="modal fade" id="reviewIndexModal" tabindex="-1" role="dialog" aria-labelledby="reviewIndexModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column">
        <h5 class="modal-title " id="reviewIndexModalTitle"><%= review[:restaurant_name] %></h5>
        <p><%= review[:restaurant_address] %>, <%= review[:restaurant_city] %></p>
        <div class="modal-review-details">
          <p>Rating: <%= review[:review_rating]%> | Visited on: <%= review[:visit_date] %> | Review from: <%= review[:review_date] %></p>
        </div>
      </div>
      <div class="modal-body" style="font-size: 16px">
        <%= review[:review_content] %>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
