<div class="container show">

  <div class="row">
    <div class="col-8">
      <div class="photo-carousel">
        <% if @restaurant.photos.attached? %>
          <div id="carousel-<%= @restaurant.id %>" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% @restaurant.photos.each_with_index do |photo, i| %>
                <div class="carousel-item <%= 'active' if i == 0 %>">
                  <%= cl_image_tag photo.key, class: "main-image d-block w-100" %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carousel-<%= @restaurant.id %>" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-<%= @restaurant.id %>" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      <% else %>
        <img src="https://www.luxuryrestaurantguide.com/Pictures/973_FiveFieldsIMG_4280.jpg" class="showpage-image" alt="">
      <% end %>
      </div>

      <div class="card-container-show">
          <% @reviews_from_followings.each do |review| %>
            <div class="card-show">
              <%=image_tag("Headshot_1.jpg")%>
                <div class="card-show-infos">
                  <div class="name_date_flex-show">
                    <h2> <%= review.first.visit.user.first_name + " " + review.first.visit.user.last_name %> </h2>
                    <h3> <%= review.first.visit.date %></h3>
                  </div>
                  <p><%= review.first.content.truncate(100) %><a href="#" class="see_more_btn" data-toggle="modal" data-target="#reviewHomeModal<%= review.first.id %>"> See More</a>
                  <%= render partial: 'show_modal', locals: {review: review.first} %></p>
                </div>
            </div>
          <% end %>
      </div>
    </div>

    <div class="col-4">
      <div class="restaurant-info">
        <h2><%= @restaurant.name %></h2>
        <p><%= @avg_rating %></p>
        <div class="content-info">
          <p><%= image_tag("greenlocation.svg") %> <%= @restaurant.address %></p>
          <p><%= image_tag("greencategory.svg") %> <%= @restaurant.category %></p>

          <p><%= @avg_rating %></p>
        </div>
        <div class="content-info">
          <p><a href="#"><%= image_tag("greenwebsite.svg") %> <%= @restaurant.website %></a></p>
          <p><%= image_tag("greenphone.svg") %> <%= @restaurant.phone_number %></p>
          <p><%= @avg_rating %></p>
        </div>
        <div class="buttons-info">
          <a href="#" class="greenbtn">Book</a>
          <%= link_to 'Bookmark', restaurant_bookmarks_path(@restaurant), method: 'post', class: 'hollowbtn' %>
        </div>
      </div>
    <!-- <div class="col-4"> -->
        <div
          id="map"
          style="width: 100%;
          height: 400px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
    <!-- </div> -->
    </div>
  </div>





