<div class="container show">

  <div class="row">
    <div class="col-8">
      <div class="photo-carousel" id="show-restaurant-carousel">
        <%= render 'shared/restaurant_carousel', restaurant: @restaurant %>
      </div>

      <div class="card-container-show">
          <% @reviews_from_followings.each do |review| %>
            <div class="card-show">
              <%=image_tag("Headshot_1.jpg")%>
                <div class="card-show-infos">
                  <div class="name_date_flex-show">
                    <h2> <%= review.first.visit.user.first_name + " " + review.first.visit.user.last_name %> </h2>
                    <h3> <%= review.first.visit.date.strftime("%d/%m/%y") %></h3>
                  </div>
                  <p><%= review.first.content.truncate(100) %><a href="#" class="see_more_btn" data-toggle="modal" data-target="#reviewHomeModal<%= review.first.id %>"> See More</a>
                  <%= render partial: 'show_modal', locals: {review: review.first} %></p>
                </div>
            </div>
          <% end %>
      </div>
    </div>

    <div class="col-4">
      <div class="restaurant-info">
        <h2><%= @restaurant.name %></h2>
        <p><%= @avg_rating %></p>
        <div class="content-info">
          <p><%= image_tag("greenlocation.svg") %> <%= @restaurant.address %></p>
          <p><%= image_tag("greencategory.svg") %> <%= @restaurant.category %></p>

          <p><%= @avg_rating %></p>
        </div>
        <div class="content-info">
          <p><%= image_tag("greenwebsite.svg") %><a href="http://<% @restaurant.website %>" target="_blank"><%= @restaurant.website %></a></p>
          <p><%= image_tag("greenphone.svg") %> <%= @restaurant.phone_number %></p>
          <p><%= @avg_rating %></p>
        </div>
        <div class="buttons-info">
          <a href="#" class="greenbtn">Book</a>
          <%= link_to 'Bookmark', restaurant_bookmarks_path(@restaurant), method: 'post', class: 'hollowbtn' %>
        </div>
      </div>
    <!-- <div class="col-4"> -->
        <div
          id="map"
          style="width: 100%;
          height: 400px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
    <!-- </div> -->
        <% if current_user.admin %>
          <%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant), style: "color: white" %>
        <% end %>
    </div>
  </div>





