<div class="d-flex align-items-center flex-column">
  <div
  id="map"
  style="width: 90%;
  height: 500px;
  margin-top: 25px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <div class="d-flex justify-content-between align-items-center flex-column">
    <% @reviews_array.each do |review_hash| %>
      <div class="review-index-card d-flex flex-wrap-reverse flex-sm-nowrap">
        <div class="review-index-card-carousel">
          <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="Picture of restaurant table">
        </div>
        <div class="review-body">
          <h4><%= review_hash[:restaurant_name] %></h4>
          <p id="address"><%= review_hash[:restaurant_address] %>, <%= review_hash[:restaurant_city] %></p>
          <p><%= review_hash[:review_content_truncated] %></p>
          <div class="d-flex justify-content-between review-details flex-wrap">
            <p>Rating: <%= review_hash[:review_rating]%></p>
            <p>Visited on: <%= review_hash[:visit_date] %></p>
            <p>Review from: <%= review_hash[:review_date] %></p>
            <a href="#" class="see_more_btn" data-toggle="modal" data-target="#reviewIndexModal<%= review_hash[:review_id] %>">See More</a>
            <%= render partial: 'index_modal', locals: {review_hash: review_hash} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

