<!-- <div class="d-flex align-items-center justify-content-space-between"> -->
  <div class = "new-review-flexbox">
  <div class = "photo-carousel new-review-carousel">
    <%= render 'shared/restaurant_carousel', restaurant: @restaurant %>
  </div>
  <div class="review-form-container d-flex flex-column">
    <h3 class="review-form-header">Write your review of <%= @restaurant.name %> below:</h3>
    <br>
    <div id="new-review-form">
      <%= simple_form_for(@review, url: visit_reviews_path(@visit)) do |f| %>
        <div id = "new-review-input">
          <%= f.input :content, :as => :text, placeholder: "Write your review here...", input_html: { class: "content-form" } %>
        </div>
        <div class="rating-select d-flex justify-content-space-between">
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        </div>
        <%= f.submit "Add Review", class: "bannerbtn" %>
      <% end %>
    </div>
  </div>
</div>
